<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script type="text/javascript" th:inline="javascript">
        function viewPost(postId){
            location.href = "/post/viewPost/"+postId;
        }
    </script>
</head>
<body>
    <h1>Home</h1>
    <th:block th:if="${not #lists.isEmpty(posts)}">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일시</th>
                <th>
                    <a th:href="@{/post/newPost}">등록</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}" th:onclick="'javascript:viewPost(\'' + ${post.id} + '\');'">
                <td th:text="${post.id}">id</td>
                <td th:text="${post.title}">id</td>
                <td th:text="${post.content}">id</td>
                <td th:text="${post.author}">id</td>
                <td th:text="${#temporals.format(post.regdate, 'yyyy-MM-dd hh:mm:ss')}">id</td>
                <td>
                    <a th:href="@{/post/editPost/{id}(id=${post.id})}">수정</a>
                </td>
                <td>
                    <a th:href="@{/post/deletePost/{id}(id=${post.id})}">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <p th:unless="${not #lists.isEmpty(posts)}">데이터가 없습니다.</p>
    <!-- th:with를 통해 사용할 변수 선언-->
    <div th:with="start=${(posts.number/6)*6},
                    last=(${start + 5 < posts.totalPages ? start + 5 : posts.totalPages-1})">
        <div style="display: inline"><!-- 첫 페이지로 -->
            <a th:href="@{__${#httpServletRequest.requestURI}__(value=${search.value},name=${search.name},page=0)}">처음</a>
        </div>
        <div style="display: inline"><!-- /pages?page=1-->
            <a th:href="${posts.first} ? '#' : @{__${#httpServletRequest.requestURI}__(value=${search.value},name=${search.name},page=${posts.number-1})}">&lt;</a>
        </div>
        <div style="display: inline" th:each="number : ${#numbers.sequence(start, last)}">
            <a th:href="@{__${#httpServletRequest.requestURI}__(value=${search.value},name=${search.name},page=${number})}" th:text="${number+1}"></a>
        </div>
        <div style="display: inline"><!-- /pages?page=1-->
            <a th:href="${posts.last} ? '#' : @{__${#httpServletRequest.requestURI}__(value=${search.value},name=${search.name},page=${posts.number+1})}">&gt;</a>
        </div>
        <div style="display: inline"><!-- 마지막 페이지로 -->
            <a th:href="@{__${#httpServletRequest.requestURI}__(value=${search.value},name=${search.name},page=${posts.totalPages-1})}">끝</a>
        </div>
    </div>
    <form th:action="@{/post/findBy}" th:object="${search}" method="get">
        <select th:field="*{value}" style="margin-top: 10px">
            <option th:each="item : ${conditions.entrySet()}" th:value="${item.value}" th:text="${item.key}"></option>
        </select>
        <input th:field="*{name}" type="text"/>
        <button type="submit">Search</button>
    </form>
</body>
</html>