<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test page</title>
</head>
<body>
    <h1>test page</h1>
    <th:block th:if="${not #lists.isEmpty(posts)}">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일시</th>
                <th>
                    <a th:href="@{/post/newPost}">등록</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">id</td>
                <td th:text="${post.title}">id</td>
                <td th:text="${post.content}">id</td>
                <td th:text="${post.author}">id</td>
                <td th:text="${#temporals.format(post.regdate, 'yyyy-MM-dd hh:mm:ss')}">id</td>
                <td>
                    <a th:href="@{/post/viewPost/{id}(id=${post.id})}">수정</a>
                </td>
                <td>
                    <a th:href="@{/post/deletePost/{id}(id=${post.id})}">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <p th:unless="${not #lists.isEmpty(posts)}">데이터가 없습니다.</p>
    <div>
        <div style="display: inline" th:if="${not posts.first}">
            <a th:href="@{__${#httpServletRequest.requestURI}__(page=${posts.number-1})}">&larr;이전</a>
        </div>
        <div style="display: inline" th:each="number : ${#numbers.sequence(0, posts.totalPages-1)}">
            <a th:href="@{__${#httpServletRequest.requestURI}__(page=${number})}">[[${number+1}]]</a>
        </div>
        <div style="display: inline" th:if="${not posts.last}"><!-- /pages?page=1-->
            <a th:href="@{__${#httpServletRequest.requestURI}__(page=${posts.number+1})}">&rarr;다음</a>
        </div>
    </div>
</body>
</html>