<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <script type="text/javascript" th:inline="javascript">
        function deleteComment(postId, commentId) {
            location.href = "/comment/deleteComment/"+postId+"/"+commentId;
        }
    </script>
</head>
<body>
    <h1>Post</h1>
    <div>
        <h1 th:text="${post.title}">
        </h1>
        <div th:text="${post.content}">
        </div>
    </div>
    <div>
        <h3>댓글</h3>
        <form th:object="${commentDto}" th:action="@{/comment/addComment}" method="post">
            <ul>
                <p hidden>ID : <input th:value="${post.id}" th:id="postId" th:name="postId"/></p>
                <input th:field="*{content}"/>
                <button type="submit">등록</button>
            </ul>
        </form>
    </div>

    <form th:object="${commentDto}" th:action="@{/}" method="post">
        <ul th:each="comment : ${post.comments}">
            <li>
                <div>
                    <span th:text="${comment.content}"></span>
                    <span th:onclick="'javascript:deleteComment(\'' + ${post.id} + '\',\'' + ${comment.id} +'\');'">삭제</span>
                    <p th:text="${#temporals.format(comment.regdate, 'yyyy-MM-dd hh:mm:ss')}"></p>
                </div>
            </li>
        </ul>
    </form>
</body>
</html>